body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:darkgray;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    margin: 1% 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav-left, .nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 2px 7px;
}

    .nav-left ul, .nav-right ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav-left li, .nav-right li {
        display: inline;
    }

    .nav-left a, .nav-right a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        padding: 10px 15px;
        margin: 0 10px;
    }

        .nav-left a:hover, .nav-right a:hover {
            color: #FFD700;
        }

.logo {
    padding: 0 30px;
}

    .logo img {
        height: 70px;
    }
.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slideAnimation 9s infinite;
}

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
    }
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
    .text p {
        position: relative;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: goldenrod;
        font-size: 30px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .text h5 {
        position: relative;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        color: goldenrod;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
@keyframes slideAnimation {
    0%, 100% {
        opacity: 0;
    }

    10%, 30% {
        opacity: 1;
    }

    33%, 66% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 3s;
}

.slide:nth-child(3) {
    animation-delay: 6s;
}

/*Contacts*/
.location-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
}

.location-map {
    width: 100%;
    max-width: 100%;
    height: 400px;
    border: 0;
    filter: brightness(80%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#h-for-contacts {
    color: goldenrod;
}

.contact-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top:8%;
}
.contact-form-container {
    background-color: lightgray;
    min-width: 300px;
    max-width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin:0 auto;
}

.contact-info-container {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
    .contact-info-container hr{
        height:0,5%;
    }

    .contact-header {
        font-size: 30px;
        margin-bottom: 10px;
    }

.contact-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-input, .contact-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-textarea {
    resize: none;
}

.contact-info-container a {
    color: goldenrod;
    text-decoration: none
}

    .contact-info-container a:hover {
        text-decoration: underline;
    }

.contact-button-send {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
}


    .contact-button-send:hover {
        background-color: darkgoldenrod;
    }
/*Services*/
.services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.services-title {
    font-size: 2em;
    color: #2d3e50;
    margin-bottom: 20px;
}

.services-grid, .services-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-item {
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .service-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .service-item img {
        max-width: 100px;
        margin-bottom: 15px;
    }
/*Footer*/
.footer {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 10%;
}

.footer-column {
    justify-content: space-evenly;
    font-size: 12px;
    margin-right: 30px;
    margin-left: 30px;
}

    .footer-column h3 {
        border-bottom: 2px goldenrod solid ;
        display: inline-block;
        margin-bottom: 10px;
        padding-bottom: 5px;
        color: white;
    }

    .footer-column ul {
        list-style: none;
        padding: 0;
    }

        .footer-column ul li {
            margin-bottom: 8px;
        }

            .footer-column ul li a {
                color: #fff;
                text-decoration: none;
            }

                .footer-column ul li a:hover {
                    text-decoration: underline;
                }

.footer-contact {
    line-height: 1.8;
}

    .footer-contact a {
        color: #fff;
        text-decoration: none;
    }

        .footer-contact a:hover {
            text-decoration: underline;
        }

.social-media {
    margin-top: 20px;
}

    .social-media a {
        margin-right: 15px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
    }

        .social-media a:hover {
            color: red;
        }

.end {
    background-color: #1e1e1e;
}
.end p{
    color:grey;
   text-align:center;
}